<div class="container">
  <button mat-raised-button color="primary" (click)="addproduct()" class="mb-4">Add Product</button>
  <input matInput placeholder="Search"  name="search" [(ngModel)]="search" (input)="searchProduct()">
  <div class="row">
  <div *ngFor="let product of productList;let i = index" class="col-6 d-flex align-items-stretch mb-4" >
    <mat-card  >
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        style="width: 150px"
        src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
        alt="Angular Logo"
      />
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
        <h4>Price:{{product.price}}$</h4>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="gotodetails(product.id)">Update</button>
        <button mat-raised-button color="primary" (click)="removeproduct(product.id,i)">Delete</button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
